@font-face {
  font-family: 'Material Icons Outlined';
  src: url('./style/MaterialIconsOutlined-Regular.otf') format('opentype');
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #eee;
    min-height: 100%;
    max-width: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.material-icons {
    font-family: 'Material Icons Outlined';
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.App {
    margin: 0 1em;
}

.modal-background {
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}



.modal-box {
    margin: 30vh auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.19);
    padding: 1em;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-buttons {
    margin-top: 1em;
    justify-content: space-between;
}

.modal-textlink {
    text-decoration: underline;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.logo {
    height: 40px;
    width: 172px;
    background-image: url('./img/logo.png');
}

.flash-message-error {
    width: 300px;
    min-height: 17px;
    margin: 1em auto;
    padding: 0.5em;
    border: 1px solid #B7094C;
    background-color: rgba(183, 9, 76, 0.15);
    border-radius: 4px;
    font-size: 0.8em;
    color: #B7094C;
}

.flash-message-ok {
    width: 300px;
    min-height: 17px;
    margin: 1em auto;
    padding: 0.5em;
    border: 1px solid #0091AD;
    background-color: rgba(0, 145, 173, 0.15);
    border-radius: 4px;
    font-size: 0.8em;
    color: #0091AD;
}

.flash-message-hidden {
    width: 300px;
    min-height: 17px;
    margin: 1em auto;
    padding: 0.5em;
}

.header-wrapper {
    margin: 0.5em 0;
    justify-content: space-between;
}

.header-menu {
    justify-content: flex-end;
    list-style-type: none;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.header-icon {
    margin: 0 0 0 0.8em;
    cursor: pointer;
}

.header-icon:first-child {
    margin: 0;
}

.header-icon-label {
    font-size: 0.5em;
    font-weight: bold;
}



.load-save-bar {
    justify-content: space-between;
    align-items: flex-end;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.middle-icons {
    justify-content: flex-end;
    list-style-type: none;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

table.share {
    margin: 0 0 1em;
    min-width: 240px;
}

table.share,
tr.share,
th.share,
td.share {
    border-collapse: collapse;
    padding: 0.6em;
    font-size: 14px;
}

th.share {
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
}

tr.share:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.04);
}

.invite-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
}

.invite-title-wrapper {
    justify-content: space-between;
    align-items: center;
}

.cancel-icon {
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #777;
}

.invite-input-wrapper {
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#invite-input {
    margin: 0;
    width: 100%;
}

.comment-wrapper {
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.4em;
}

.comment-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #777;
    text-align: left;
    padding: 0;
    margin: 0 0 0.2em 0.2em;
}

.comment-icon {
    color: #000;
    font-size: 1.9em;
    margin: 0 0 0 0.4em;
    cursor: pointer;
}

.code-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #777;
    text-align: left;
    padding: 0;
    margin: 0 0 0.2em 0.2em;
}

.onoff-text-shadow {
    text-shadow: 0 0 3px #0f0;
}

.black {
    color: #000;
}

.code-wrapper {
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.4em;
}

.gray {
    color: #ccc;
}

.code-icon {
    font-size: 1.9em;
    margin: 0 0 0 0.4em;
    cursor: pointer;
}

.code-run-button-ON {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0.4em 0.8em;
    background-color: #000;
    color: #0f0;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.code-run-button-OFF {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.4em 0.8em;
    background-color: #ccc;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    cursor: default;
}

.editor-container {
    margin: 1em 0;
    background-color: #fff;
    min-height: 464px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.code-editor {
    background-color: #000;
    min-height: inherit;
}

.code-editor-result {
    margin: 0 0 1em;
    background-color: #fff;
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    font-family: monospace;
    padding: 1em;
}

.inactive-icon {
    cursor: default;
    color: #ccc;
}

.toolbar {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.textaligncenter {
    text-align: center;
}

.textalignleft {
    text-align: left;
}

.textalignright {
    text-align: right;
}

.margin-top-1em {
    margin-top: 1em;
}

.gray-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #777;
    text-align: left;
    padding: 0 0 0.2em 0.5em;
    margin: 1em 0 0 0;
}

.field-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #777;
    text-align: left;
    padding: 0 0 0.2em 0.5em;
    margin: 0;
}

.status-label {
    font-size: 0.8em;
    color: #777;
    text-align: right;
    padding: 0 0 0.2em 0.5em;
    margin: 0;
}

.status-info {
    font-size: 0.8em;
    color: #777;
    text-align: left;
    font-weight: bold;
    padding: 0 0 0.2em 0.5em;
    margin: 0;
}

.select,
.input {
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 1em 0 0;
    border: 1px solid #ccc;
    min-width: 140px;
}

.select:disabled,
.input:disabled {
    background-color: #ccc;
}

.error-border {
    border: 1px solid #f00;
}

.error-box {
    text-align: left;
    list-style: none;
    border: 1px solid #f00;
    background-color: rgba(255, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.7em 0;
    font-size: 0.8em;
    color: #f00;
}

#titleInputField {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.6em 0.6em;
    margin: 0;
}

.button {
    background-color: #3A0CA3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.19);
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    height: 2.8em;
    padding: 10px 14px;
    margin: 0;
    border: none;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #3A0CA3;
    border-radius: 0.2rem;
}

.button:hover {
    opacity: 0.9;
}

.button:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3), 0 1px 1px 0 rgba(0,0,0,0.19);
}

.button.red {
    background-color: #FF006E;
    border-color: #FF006E;
}

.button.lighter {
    background-color: #7209B7;
    border-color: #7209B7;
}

.button.fixed-width {
    width: 100px;
}
